#ignore directories
.cache
.dockerignore
.git
.gitignore
docker-compose.yml
Dockerfile

# ignore all *.swp files in all directories, including build root
**/*.swp

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md
README-secret.md
